.com-jedisto-jos-app-notebook {
	.notes {
		padding: 10px;
		.note {
			float: left;
			margin: 10px;
			width: 100px;
			height: 100px;
			border: 1px solid #eee;
			opacity: 0.6;
			i {
				width: 64px;
				height: 64px;
				font-size: 64px;
				margin: 8px 18px;
			}
			&.new {
				cursor: pointer;
				i {
					font-size: 32px;
					margin: 34px 34px;
				}
			}
			&:hover {
				opacity: 0.8;
			}
		}
	}
}