script(src='lib/js/jquery-2.1.1.min.js')
script(src='lib/js/angular.min.js')
script(src='lib/js/Baidu-Frontia-JS-1.0.0.js')
script(src='lib/js/bootstrap.js')
script(src='lib/js/bootbox.js')
script(src='lib/js/async.js')
link(rel='stylesheet', href='lib/css/bootstrap.css')
link(rel='stylesheet', href='lib/css/todc-bootstrap.css')
link(rel='stylesheet', href='lib/css/font-awesome.css')
link(rel='stylesheet', href='lib/css/wlige.css')
| <!-- inject:js -->
| <!-- endinject -->
| <!-- inject:css -->
| <!-- endinject -->
