.ui.small.menu.fixed
  .item
    i.icon.laptop
    strong
      | jOS
    //- .text
    //-   strong
    //-     i.icon.laptop
    //-     | jOS
    //- .menu
    //-   .item(ng-repeat='app in $$apps', ng-click='activeApp(app)')
    //-     i.icon.settings.small
    //-     | {{app.title}}
    //-   .item
    //-     i.icon.settings.small
    //-     | Settings
    //-   .item
    //-     i.icon.sign.in.small
    //-     | Login
  a.item(ng-click="toggleDesktop()", ng-class="{active: desktopActive}")
    i.icon.home.small
    | Home
  a.item(ng-repeat='app in $$apps | filter: {loaded: true}', ng-class='{active: (app.actived && !desktopActive)}', ng-click='activeApp(app)')
    i.icon.angle.right
    | {{app.title}}
  a.item.right(ng-click='openSettingsDialog()')
    i.icon.settings.small
    | Settings
  a.item.right(ng-click='signIn()', ng-hide='$user')
    i.icon.sign.in.small
    | Sign in
  .item.user.right(ng-click='', ng-show='$user', ng-mouseover='showUserPopup()', ng-mouseout='hideUserPopup()')
    a.popup(ng-click='', ng-show='userPopupVisible')
      div
        img(ng-src='{{$user.thumbnail}}')
      .ui.tiny.buttons.basic
        .ui.button(ng-click='signOut()')
          i.icon.sign.out.small
          | Sign out
    i.icon.user
    | {{$user.name}}
