@import 'common';
@import 'flexbox';
body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #555555;
	min-width: 320px;
	font-size: 0.9em;
}

.well {
	.title {
		font-size: 2.3em;
		margin-bottom: 10px;
		font-weight: bold;
	}
}

.abs {
	.abs;
}